In [7]:
import os
import psutil
import numpy as np  # import auxiliary library, typical idiom
import pandas as pd  # import the Pandas library, typical idiom
from datetime import datetime
from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

from numba import jit

from sklearn.linear_model import LinearRegression  # for linear regression
from sklearn.cluster import KMeans  # for clustering
from sklearn.tree import DecisionTreeClassifier  # for decision tree mining
from sklearn.metrics import mean_absolute_error, confusion_matrix, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

file_export = 'export2012.csv'
def data_seperation(file_export):
    data = pd.read_csv(file_export)
    df_sorted= data.sort_values(by=['startTime'])
    training_data,testing_data= train_test_split(df_sorted,test_size=0.2, shuffle=False)

In [24]:
def no_overlap(training_data,testing_data):
    for case in training_data['case']:
        for cases in testing_data['case']:
            if case==cases:
                training_data.drop(training_data.loc[training_data['case']==case].index, inplace=True)
                testing_data.drop(testing_data.loc[testing_data['case']==cases].index, inplace=True)

In [25]:
data_seperation(file_export)
training_data

,case,event,startTime,completeTime,AMOUNT_REQ,REG_DATE,org:resource
21,173691,A_SUBMITTED,2011/10/01 08:08:58.256,2011/10/01 08:08:58.256,5000,2011/10/01 08:08:58.256,112
22,173691,A_PARTLYSUBMITTED,2011/10/01 08:09:02.195,2011/10/01 08:09:02.195,5000,2011/10/01 08:08:58.256,112
24,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112
23,173691,A_PREACCEPTED,2011/10/01 08:09:56.648,2011/10/01 08:09:56.648,5000,2011/10/01 08:08:58.256,112
51,173694,A_SUBMITTED,2011/10/01 08:10:30.287,2011/10/01 08:10:30.287,7000,2011/10/01 08:10:30.287,112
...,...,...,...,...,...,...,...
162332,207741,O_CREATED,2012/02/09 10:25:47.291,2012/02/09 10:25:47.291,6500,2012/02/09 10:18:00.756,11180
162334,207741,O_SENT,2012/02/09 10:25:47.331,2012/02/09 10:25:47.331,6500,2012/02/09 10:18:00.756,11180
162333,207741,O_SENT,2012/02/09 10:25:47.331,2012/02/09 10:25:47.331,6500,2012/02/09 10:18:00.756,11180
162335,207741,W_Nabellen offertes,2012/02/09 10:26:11.751,2012/02/09 10:28:21.271,6500,2012/02/09 10:18:00.756,11180
162054,207665,W_Completeren aanvraag,2012/02/09 10:26:14.838,2012/02/09 10:33:09.828,20000,2012/02/08 23:05:12.830,10932

In [ ]:
no_overlap(training_data,testing_data)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,